body {
  background: linear-gradient(to left, #8942a8, #ba382f);;
}

.animation-area {
  background: linear-gradient(to left, #8942a8, #ba382f);
  width: 100%;
  height: 100vh;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

.grid {
  width: 600px;
  height: fit-content;
  margin: 0 auto;
  background-color: rgb(17, 6, 56);
  padding: 10px 50px 50px 50px;
}

.grid h1 {
  font-family: "sans-serif";
  background-color: #5a01ff;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding: 2px 0px;
}

#score {
  color: #6861cf;
  text-align: center;
  font-size: 30px;
}

.grid #question {
  font-family: "monospace";
  font-size: 30px;
  color: #ffffff;
}

.buttons {
  margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
  background-color: #582b92;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border: 1px solid #1d3c6a;
  margin: 10px 40px 10px 0px;
  padding: 10px 10px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #01bbff;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}

#progress {
  color: #ffffff;
  font-size: 18px;
}

#submit {
  border: none;
  padding: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  display: table;
  margin: 0 auto;
  font-size: 40px;
  width: 200px;
  background-color: #4501ff;
}
#start {
  outline: none;
  border: none;
  width: 200px;
  height: 50px;
  color: white;
  background-color: rgb(147, 206, 93);
  box-shadow: 0px 0px 4px rgb(147, 206, 93);
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#correctAnswers, #wrongAnswers, #correct, #false {
    text-align: center;
}
#correct, #false {
    color: white;
}
#correctAnswers {

    color: rgb(127, 252, 127);
}
#wrongAnswers {

    color: rgb(196, 60, 60);
}

.hide {
  display: none;
}

#timer {
    color: white;
}